<h1>Cursussen</h1>
<div class="container-fluid">
    <style>
        .selectable:hover {
            cursor: pointer;
        }
        .table-label {
            width: 10%;

        }
    </style>
<div class="row">
    <div class="col-md-2">
<table class="table table-hover">
    <thead>
        <tr>
            <td><b>Naam</b></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of courses" (click)="onSelect(c)" class="selectable">
            <td>{{ c.name }}</td>
        </tr>
    </tbody>
</table>

</div>
<div class="col-md-10">
<h3>Geselecteerde cursus</h3>
    <table class="table">
        <tr>
            <td class="table-label"><b>ID:</b></td>
            <td>{{currentCourse.id}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Code:</b></td>
            <td>{{currentCourse.code}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Naam:</b></td>
            <td>{{currentCourse.name}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Periode:</b></td>
            <td>{{currentCourse.period}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Europese Credits:</b></td>
            <td>{{currentCourse.europeanCredits}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Coordinator:</b></td>
            <td>{{currentCourse.coordinator}} </td>
        </tr>
        <tr>
            <td class="table-label"><b>Toetsen:</b></td>
            <td>{{currentCourse.examination}} </td>
        </tr>
    </table>

</div>

</div>