<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Coordinatoren</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 docenten">
                            <template tabHeading><i class="icon-calculator"></i> Coordinatoren</template>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Naam</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of coordinatoren">
                                        <td>{{c.naam}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-info" (click)="CoordinatorModal.show()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-wrapper" style="min-height:300px;">
                    <style>
                        .selectable:hover {
                        cursor: pointer;
                        }
                        .table-label {
                        width: 10%;

                        }
                    </style>
                </div>

                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

<div bsModal #CoordinatorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <form name="addCoordinator" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">Coordinatoren</h4>
                    <button type="button" class="close" (click)="CoordinatorModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="loading" align="center"><br /><img src="assets/img/ripple.svg" /></div>
                    <span *ngIf="error" class="text-danger">Vul alle velden in!</span>

                    <form novalidate #newCoor="ngForm">
                        <td class="table-label" style="float:left"><label for="Code">Naam:</label></td>
                        <div class="form-group" style="overflow: hidden">
                            <input type="text" class="form-control" id="naam" required name="naam"
                                [ngModel]="newCoordinator.naam" placeholder="naam">
                        </div>
                    </form>
                    <!-- <p>Form: {{ newCoor.value | json }}</p> -->
                </div>
                <div  *ngIf="!loading" class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="CoordinatorModal.hide()">Sluiten</button>
                    <button type="button" class="btn btn-primary" (click)="addCoordinator(newCoor)">Toevoegen</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
