<h1>Cursussen</h1>
<div class="container-fluid">
  <style>
      .selectable:hover {
          cursor: pointer;
      }
      .table-label {
          width: 10%;

      }
  </style>
  <div class="row">
      <div class="col-md-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Naam</b></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of courses" (click)="onSelect(c)" class="selectable">
                    <td>{{ c.naam }}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <h3>Geselecteerde cursus</h3>

        <table class="table">
           <tr>
               <td class="table-label"><b>ID:</b></td>
               <td>{{currentCourse.id}} </td>
           </tr>
           <tr>
               <td class="table-label"><b>Code:</b></td>
               <td>{{currentCourse.code}} </td>
           </tr>
           <tr>
               <td class="table-label"><b>Naam:</b></td>
               <td>{{currentCourse.naam}} </td>
           </tr>
           <tr>
               <td class="table-label"><b>Periode:</b></td>
               <td>{{currentCourse.periode}} </td>
           </tr>
           <tr>
               <td class="table-label"><b>Europese Credits:</b></td>
               <td>{{currentCourse.europeanCredits}} </td>
           </tr>
           <tr>
             <td class="table-label"><b>Beroepstaken:</b></td>
             <td>
               <table>
                <tr *ngFor="let bt of currentCourse.eindBT">
                    <td><b>Naam:</b></td>
                    <td>{{bt.naam}}</td>
                </tr>
             </table>
             </td>
           </tr>
           <tr>
             <td class="table-label"><b>Professionalskills:</b></td>
             <td>
               <table>
                <tr *ngFor="let ps of currentCourse.eindPS">
                    <td><b>Naam:</b></td>
                    <td>{{ps.naam}}</td>
                </tr>
             </table>
             </td>
           </tr>

           <tr>
             <!-- <td class="table-label"><b>leerdoelen:</b></td> -->
             <!-- <td>
                <table>
                <tr *ngFor="let ld of leerdoelen">
                    <td>
                        <table>
                            <tr *ngFor="let name of leerdoelen.bloomniveau">
                                <td><b>Naam:</b></td>
                                <td>{{name.naam}}</td>
                            </tr>
                        </table>
                    </td>

                    <td><b>Omschrijving:</b></td>
                    <td>{{ld.omschrijving}}</td>

                    <td><b>Bloomniveau:</b></td>
                    <td>{{ld.bloomniveau}}</td>

                </tr>
             </table>
             </td> -->
           </tr>

        </table>
      </div>
  </div>
</div>
