<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Dashboard</h4>
        </div>
        <div class="card-block">
          <table class="toetsmatrijs table table-bordered table-nonfluid">
            <tr>
              <td class="tableInvisible"></td>
              <td class="tableInvisible"></td>
              <td class="tableInvisible"></td>
              <td class="tableInvisible"></td>
              <th colspan="3" class="toetsKopje"><div><span>Theorie</span></div></th>
              <th class="toetsKopje"><div><span>Praktijk</span></div></th>
            </tr>
            <tr class="toetsElementen">
              <td class="tableInvisible"><div><span>Prof. Skill</span></div></td>
              <td class="tableInvisible"><div><span>Beroepstaak</span></div></td>
              <td class="tableInvisible"><div><span>Leerdoel</span></div></td>
              <td class="tableInvisible"><div><span>Bloom</span></div></td>
              <td class="toetsElementKopje"><div><span>Vraag1</span></div></td>
              <td class="toetsElementKopje"><div><span>Vraag2</span></div></td>
              <td class="toetsElementKopje"><div><span>Vraag3</span></div></td>
              <td class="toetsElementKopje"><div><span>Projectvoorstel</span></div></td>
            </tr>
            <tr>
              <td class="ps">CP - T</td>
              <td class="bt">5-4-1</td>
              <td class="ld">LD-1</td>
              <td class="bm">C</td>
              <td class="weging">20% C</td>
              <td class="weging"></td>
              <td class="weging">60% B</td>
              <td class="weging"></td>
            </tr>
            <tr>
              <td class="ps">CP - T</td>
              <td class="bt">5-1-1</td>
              <td class="ld">LD-2</td>
              <td class="bm">B</td>
              <td class="weging"></td>
              <td class="weging">20%</td>
              <td class="weging"></td>
              <td class="weging"></td>
            </tr>
            <tr>
              <td class="ps">CP - T</td>
              <td class="bt">5-1-1</td>
              <td class="ld">LD-2</td>
              <td class="bm">B</td>
              <td class="weging"></td>
              <td class="weging"></td>
              <td class="weging"></td>
              <td class="weging">30%</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
